---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'CI-CD',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <FAQs
    tagline="Research Updates"
    title="CI/CD Pipelines"
    subtitle="Overview of the important software development component"
    items={[
      {
        title: "What is CI/CD?",
        description: "CI stands for Continuous Integration, and CD stands for Continuous Delivery/Deployment",
      },
      {
      title: "Why is CI/CD important?",
      description: `
        <p>CI/CD gives software developers a streamlined way to test and merge code changes in an automated way that reduces merge conflicts at the end of the process.</p>
        <img 
            src="/before_ci_cd.webp" 
            alt="Before CI/CD"
            class="mt-4 rounded-lg shadow-md"
          />
        `
      },
      {
        title: "What are the core components of CI/CD?",
        description: `
          <p>Continuous Integration automatically tests each commit, and rejects a code build if a test fails. Continuous Delivery automatically deploys passing code to a staging area. Continuous Deployment automically deplays passing code to production.</p>
          <img 
            src="/after_ci_cd.webp" 
            alt="Before CI/CD"
            class="mt-4 rounded-lg shadow-md"
          />
        `
      },
      {
        title: "Sources:",
        description: "https://www.geeksforgeeks.org/devops/what-is-ci-cd/",
      },
    ]}
  />

</Layout>
