---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Resume">

  <section class="max-w-5xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-6">My Resume</h1>

    <iframe
      src="/Resume.pdf"
      class="w-full h-[800px] rounded-xl shadow-lg border"
    >
    </iframe>
  </section>

</Layout>