---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Week 11 Updates',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Welcome to <span class="hidden sm:inline">Week 11</span> Updates <span
        class="text-accent dark:text-white"></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Scroll to read more about this week's work!
    </Fragment>
  </Hero>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Weekly Summary"
    items={[
      {
        title: 'What did you do last week?',
        description:
          'I made significant progress on my final report over the weekend, writing the Introduction, Background, Methods, and some of the Results.',
      },
      {
        title: 'What do you plan to do this week?',
        description:
          'This week, I plan to lint as many C++ files as possible. I also plan to continue writing the Results, Discussion/Reflection, and Conclusion over the weekend.',
      },
      {
        title: 'Are there any impediments in your way?',
        description:
          'My family is visiting April 16-21, so I know I will have limited time to work that weekend and during the week. I am trying to complete the more time-intensive components of the final project before then so that I am not overloaded with work right before the project due date. I also decided to use a different C++ repository for linting, so I need to get started on that as I am currently a little behind.',
      },
      {
        title: 'Reflection on the process you used last week, how can you make the process work better?',
        description:
          'Setting aside a chunk of time over the weekend was extremely effective for getting a lot of work done. I plan on similarly devoting a chunk of time over the weekend to continue the report. I also hope to catch up with C++ linting throughout the week, and use the weekend as another opportunity to get caught up.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
