---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Week 3 Updates',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Welcome to <span class="hidden sm:inline">Week 3</span> Updates <span
        class="text-accent dark:text-white"></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Scroll to read more about this week's work!
    </Fragment>
  </Hero>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Weekly Summary"
    items={[
      {
        title: 'What did you do last week?',
        description:
          'Last week I updated my website on a new platform. I completed my research proposal, and I researched GitHub vs. GitLab, as well as installed Flake8, cppcheck, and cpplint on VS Code.',
      },
      {
        title: 'What do you plan to do this week?',
        description:
          'This week I plan to find the specific files I would like to clean up and clone them on VS Code. I will update my website with additional information as well (status update and information about the chosen files).',
      },
      {
        title: 'Are there any impediments in your way?',
        description:
          'Finding public files that would be meaningful to work with might take some time. I think keeping a coherent theme for the files might help narrow it down.',
      },
      {
        title: 'Reflection on the process you used last week, how can you make the process work better?',
        description:
          'I spent a lot of time last weekend focusing on the project. I find that I tend to do better when I sit down and complete a large chunk of work all at once. I hope to make more significant progress over this upcoming weekend when I have more time during the day.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />
